@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom color variables if really needed */
:root {
   --primary-color: #1ca96d; /* contoh: hijau utama Horizon */
  --font-heading: 'Metropolis', sans-serif;
  --font-body: 'Manrope', sans-serif;
}

/* Optional global styles */
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--gray-100);
}
